<!DOCTYPE html>
{% extends 'base.html'%}
{% load static %}
{% block content %}

<div class="row row-cols-4 row-cols-md-3 mt-2  ms-3 me-3 g-4">
  {% for i in movielist %}
  <div class="col">
    <div class="card" style="height:450px">
      <img src="{{i.img.url}}"  height="200px" width="250px"  class="card-img-top" alt="...">
      <div class="card-body" style="height:80%;width:100%;">
        <h5 class="card-title">{{i.name}}</h5>
        <p class="card-text">{{i.desc}}</p>
        <h5>{{i.year}}</h5>
          <a href="{% url 'view' i.id %}"><button class="btn btn-success">View</button></a>
      </div>
    </div>
  </div>
  {% endfor %}

</div>

{% endblock %}